body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  max-width: 2500px;
  margin: 0px auto;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h1 {
  font-family: "Roboto Slab", serif;
}

h2 {
  font-family: "Roboto Slab", serif;
}

h3 {
  font-family: "Roboto Slab", serif;
}

h4 {
  font-family: "Roboto Slab", serif;
}

h5 {
  font-family: "Roboto Slab", serif;
}

h6 {
  font-family: "Roboto Slab", serif;
}

.first-three-section {
  background: url(/assets/images/51.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f7f9fc;
}

header {
  position: relative;
  transition: 0.2s all;
  padding: 20px 20px;
}
header .main-header .container {
  max-width: 1440px;
}
header .main-header a img {
  max-width: 185px;
}
header .main-header .navbar-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-bottom: 28px;
}
header .main-header .navbar-top p {
  margin-right: 16px;
  margin-bottom: 0;
  color: #787878;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
header .main-header .navbar-top a {
  display: flex;
  padding: 14px 18px 12px 18px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 12px 30px -1px rgba(19, 40, 55, 0.1);
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  color: #fff;
}
header .main-header .navbar-top a:nth-child(2) {
  background: #77ac2c;
  margin-right: 16px;
}
header .main-header .navbar-top a:nth-child(3) {
  background: #bb2749;
}
header .main-header .navbar-bottom ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 28px;
}
header .main-header .navbar-bottom ul li a {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}
header .main-header .navbar-bottom ul li a.active {
  font-weight: 900;
  text-decoration-line: underline;
}
header .mobile-menu-main {
  width: 100%;
}
header .mobile-menu-main .mobilemenu-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  position: relative;
}
header .mobile-menu-main .mobilemenu-header .logo-box {
  max-width: 120px;
}
header .mobile-menu-main .mobilemenu-header .logo-box img {
  max-width: 120px;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon {
  cursor: pointer;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon span {
  width: 25px;
  height: 2px;
  background: #000;
  display: block;
  margin-bottom: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon span:nth-child(2) {
  width: 25px;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon span:nth-child(2) {
  width: 20px;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon:hover span {
  background: #bb2749;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon:hover span:nth-child(2) {
  width: 25px;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon.sidebaractive span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 7px);
  -webkit-transform: rotate(45deg) translate(-2px, 7px);
  -moz-transform: rotate(45deg) translate(-2px, 7px);
  -ms-transform: rotate(45deg) translate(-2px, 7px);
  -o-transform: rotate(45deg) translate(-2px, 7px);
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon.sidebaractive span:nth-child(2) {
  opacity: 0;
}
header .mobile-menu-main .mobilemenu-header .hamburger-icon.sidebaractive span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -12px);
  -webkit-transform: rotate(-45deg) translate(2px, -12px);
  -moz-transform: rotate(-45deg) translate(2px, -12px);
  -ms-transform: rotate(-45deg) translate(2px, -12px);
  -o-transform: rotate(-45deg) translate(2px, -12px);
}
header .mobile-menu-main .mobile-menu ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
header .mobile-menu-main .mobile-menu ul li a {
  padding: 7px 15px 7px 7px;
  color: #121212;
  width: 100%;
  display: block;
  border-bottom: 1px solid #f4f4f4;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  line-height: 22px;
}
header .mobile-menu-main .mobile-menu ul li a:hover {
  color: #bb2749;
  padding-left: 20px;
  border-color: #ffd2dd;
}
header .mobile-menu-main .mobile-menu .mobilemenu-btnbox {
  margin-top: 15px;
}
header .mobile-menu-main .mobile-menu .mobilemenu-btnbox p {
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}
header .mobile-menu-main .mobile-menu .mobilemenu-btnbox a {
  display: flex;
  padding: 10px 18px 10px 18px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 12px 30px -1px rgba(19, 40, 55, 0.1);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
  max-width: 200px;
  transition: 0.3s ease-in-out;
  color: #fff;
}
header .mobile-menu-main .mobile-menu .mobilemenu-btnbox a:nth-child(2) {
  background: #77ac2c;
  margin-right: 16px;
}
header .mobile-menu-main .mobile-menu .mobilemenu-btnbox a:nth-child(3) {
  background: #bb2749;
}
header .mobile-menu-main .mobile-menu .mobile-menu-link {
  background: #f7f9fc;
  padding: 15px 15px;
  padding-top: 0;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
  -webkit-transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
  -ms-transition: transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 999999;
}
header .mobile-menu-main .mobile-menu .mobile-menu-link.show {
  transform: none;
}
header .mobile-menu-main.sticky {
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 999;
  background: #f7f9fc;
  animation-name: fadeIn;
  box-shadow: 0px 20px 40px -2px rgba(15, 49, 73, 0.1);
}

.main-banner {
  padding: 110px 0 280px 0;
}
.main-banner .container {
  max-width: 1440px;
}
.main-banner .left-content-box {
  margin-top: 35.78px;
  position: relative;
  z-index: 9;
}
.main-banner .left-content-box h1 {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 63px;
  color: #121212;
  margin-bottom: 32px;
}
.main-banner .left-content-box h1 strong {
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 63px;
  font-family: "Roboto Slab", serif;
}
.main-banner .left-content-box h1 span {
  color: #77ac2c;
}
.main-banner .left-content-box p {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.main-banner .left-content-box p strong {
  font-weight: 700;
}
.main-banner .right-content-box {
  position: relative;
  z-index: 9;
}
.main-banner .right-content-box img {
  max-width: 100%;
  position: relative;
  z-index: 9;
  min-height: 520px;
  border-radius: 8px 100px;
}
.main-banner .right-content-box .shape-iamge {
  position: absolute;
  top: 14.5px;
  right: -12.5px;
  z-index: 1;
}
.main-banner .right-content-box .shape-iamge img {
  position: unset;
}
.main-banner .right-content-box .center-text-box {
  width: 165px;
  height: 73px;
  border-radius: 8px;
  background: #fff;
  position: absolute;
  top: 52%;
  right: -30px;
  z-index: 9;
  transform: translateY(-50%);
  padding: 28px 40px 29px 39px;
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.main-banner .right-content-box .center-text-box .center-textbox-icon {
  width: 48px;
  height: 48px;
  padding: 8px;
  background: #bb2749;
  border-radius: 8px;
  right: 9px;
  top: 55px;
  position: absolute;
}
.main-banner .right-content-box .center-text-box .center-textbox-icon img {
  min-height: unset;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.main-banner .right-content-box .bottom-text-box {
  width: 225px;
  height: 96px;
  border-radius: 8px;
  background: #fff;
  position: absolute;
  left: 84px;
  bottom: -70px;
  z-index: 9;
  padding: 32px 40px 24px 36px;
  color: #77ac2c;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.main-banner .right-content-box .bottom-text-box strong {
  color: #121212;
  font-size: 20px;
  line-height: 24px;
}
.main-banner .right-content-box .bottom-text-box .botttom-textbox-icon {
  width: 48px;
  height: 48px;
  padding: 8px;
  background: #77ac2c;
  border-radius: 8px;
  right: -10px;
  top: -16px;
  position: absolute;
}
.main-banner .right-content-box .bottom-text-box .botttom-textbox-icon img {
  min-height: unset;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.velor-main {
  padding-bottom: 100px;
  background: #f7f9fc;
  position: relative;
}
.velor-main::before {
  width: 100%;
  position: absolute;
  content: "";
  height: 90%;
  top: -103px;
  left: 0;
  background: url(/assets/images/valor2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.velor-main .fourteenfour-container {
  position: relative;
}
.velor-main .container {
  max-width: 1440px;
}
.velor-main .section-titlebox p {
  color: #77ac2c;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.velor-main .valori-contentbox {
  padding: 50px 40px;
  background: #fff;
  border-radius: 6px 60px;
  box-shadow: 0px 20px 40px -2px rgba(15, 49, 73, 0.1);
  height: 100%;
  position: relative;
  z-index: 9;
}
.velor-main .valori-contentbox .valori-iconbox {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background: #dff1c7;
  padding: 8px;
  margin-bottom: 34px;
}
.velor-main .valori-contentbox .valori-iconbox img {
  width: 40px;
  height: 40px;
}
.velor-main .valori-contentbox .content h3 {
  color: #121212;
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 20px;
}
.velor-main .valori-contentbox .content h3 strong {
  font-weight: 900;
}
.velor-main .valori-contentbox .content p {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.perche-invesstire {
  padding-top: 132px;
  padding-bottom: 170px;
  margin-bottom: 130px;
  background: url(../images/bg-shapelatest.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.perche-invesstire .container {
  max-width: 1440px;
}
.perche-invesstire .left-image-box {
  padding-left: 40px;
  position: relative;
  display: inline-block;
}
.perche-invesstire .left-image-box img {
  position: relative;
  z-index: 9;
  border-radius: 6px 60px;
  min-height: 554px;
}
.perche-invesstire .left-image-box .shape-image {
  position: absolute;
  top: -12px;
  right: -14px;
  z-index: 1;
  height: calc(100% - 37px);
  width: calc(100% - 37px);
}
.perche-invesstire .left-image-box .shape-image img {
  position: unset;
  height: 100%;
  width: 100%;
}
.perche-invesstire .left-image-box .top-textbox {
  width: 165px;
  height: 73px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: #fff;
  padding: 28px 40px 29px 39px;
  top: 70px;
  left: 5px;
  z-index: 9;
  position: absolute;
}
.perche-invesstire .left-image-box .top-textbox p {
  margin: 0;
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.perche-invesstire .left-image-box .top-textbox .toptextbox-icon {
  width: 48px;
  height: 48px;
  padding: 8px;
  background: #77ac2c;
  border-radius: 8px;
  bottom: -34px;
  position: absolute;
  left: 17px;
}
.perche-invesstire .left-image-box .top-textbox .toptextbox-icon img {
  width: 32px;
  height: 32px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  min-height: unset;
}
.perche-invesstire .left-image-box .bottom-textbox {
  width: 225px;
  height: 96px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: #fff;
  z-index: 9;
  position: absolute;
  right: -21px;
  bottom: 63px;
  padding: 32px 40px 24px 36px;
}
.perche-invesstire .left-image-box .bottom-textbox .bottomtextbox-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 8px;
  background: #bb2749;
  right: -10px;
  position: absolute;
  top: -10px;
}
.perche-invesstire .left-image-box .bottom-textbox .bottomtextbox-icon img {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  min-height: unset;
}
.perche-invesstire .left-image-box .bottom-textbox p {
  color: #77ac2c;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
.perche-invesstire .left-image-box .bottom-textbox p strong {
  color: #121212;
  font-size: 20px;
}
.perche-invesstire .right-contentbox {
  margin-top: 15px;
}
.perche-invesstire .right-contentbox .section-titlebox p {
  color: #77ac2c;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.perche-invesstire .right-contentbox .section-titlebox h3 {
  color: #121212;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
  margin-bottom: 32px;
}
.perche-invesstire .right-contentbox .section-titlebox h3 strong {
  font-weight: 900;
}
.perche-invesstire .right-contentbox p {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.piattaforma-main {
  position: relative;
}
.piattaforma-main .container {
  max-width: 1440px;
}
.piattaforma-main .leftcontent-box .section-titlebox p {
  color: #77ac2c;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.piattaforma-main .leftcontent-box .section-titlebox h3 {
  color: #121212;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
  margin-bottom: 32px;
}
.piattaforma-main .leftcontent-box .section-titlebox h3 strong {
  font-weight: 900;
}
.piattaforma-main .leftcontent-box p {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.piattaforma-main .right-imagebox {
  position: absolute;
  width: 50%;
  text-align: right;
  right: 0;
  top: 50%;
  float: right;
  height: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.piattaforma-main .right-imagebox img {
  max-width: 100%;
  max-height: 581px;
}

.agenda-main {
  padding-top: 77px;
  padding-bottom: 77px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
}
.agenda-main .agenda-custom-container {
  max-width: 1440px;
  margin: 0px auto;
  position: relative;
}
.agenda-main .container {
  max-width: 1440px;
}
.agenda-main .agenda-box {
  padding: 59px 56px 80px 56px;
  border-radius: 60px 10px;
  box-shadow: 0px 30px 80px -2px rgba(19, 40, 55, 0.15);
  background: #fff;
  position: relative;
  z-index: 1;
}
.agenda-main .agenda-box .icon-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}
.agenda-main .agenda-box .icon-flex p {
  margin: 0;
  color: #77ac2c;
}
.agenda-main .agenda-box .icon-box {
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: #dff1c7;
}
.agenda-main .agenda-box .icon-flex.magenta .icon-box {
  background: #ffd2dd;
}
.agenda-main .agenda-box .icon-flex.magenta p {
  color: #bb2749 !important;
}
.agenda-main .agenda-box h3 {
  color: #121212;
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  margin-bottom: 16px;
}
.agenda-main .agenda-box h3 strong {
  font-weight: 900;
}
.agenda-main .agenda-box p {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.agenda-main .agenda-box .agenda-btn {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  width: 263px;
}
.agenda-main .agenda-box .agenda-btn a {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  width: 263px;
  padding: 20px 52px;
  border-radius: 20px 2px;
  background: #77ac2c;
  display: block;
  margin: 0px auto;
}
.agenda-main .agenda-box .agenda-btn a img {
  margin-left: 10px;
}
.agenda-main .agenda-box .agenda-btn.magenta a {
  background: #bb2749;
}

.blog-main {
  padding-top: 100px;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
}
.blog-main .blog-custom-container {
  max-width: 1440px;
  position: relative;
  margin: 0px auto;
}
.blog-main .section-titlebox {
  text-align: center;
}
.blog-main .section-titlebox p {
  color: #77ac2c;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.blog-main .section-titlebox h3 {
  color: #121212;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  margin-bottom: 60px;
}
.blog-main .section-titlebox h3 strong {
  font-weight: 900;
}
.blog-main .blog-card {
  border-bottom-right-radius: 50px;
  box-shadow: 0px 20px 40px -2px rgba(15, 49, 73, 0.1);
  background: #fff;
  margin-bottom: 60px;
  position: relative;
  z-index: 9;
}
.blog-main .blog-card .image-box {
  height: 286px;
  border-radius: 20px 20px 0px 0px;
}
.blog-main .blog-card .image-box img {
  height: 286px;
  border-radius: 20px 20px 0px 0px;
}
.blog-main .blog-card .content-box {
  padding: 40px 35px;
  border-radius: 50px 5px;
  background: #fff;
  margin-top: -66px;
  z-index: 1;
  position: relative;
  min-height: 262px;
}
.blog-main .blog-card .content-box h4 {
  color: #121212;
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 8px;
}
.blog-main .blog-card .content-box h4 strong {
  font-weight: 900;
}
.blog-main .blog-card .content-box p {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 24px;
}
.blog-main .blog-card .content-box .blog-btn {
  text-align: right;
  position: absolute;
  bottom: 36px;
  right: 36px;
  width: 130px;
}
.blog-main .blog-card .content-box .blog-btn a {
  color: var(--TESTI, #121212);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  min-width: 130px;
  display: block;
  margin-left: auto;
}
.blog-main .blog-card .content-box .blog-btn a img {
  margin-left: 6px;
}
.blog-main .show-morebtn {
  text-align: center;
}
.blog-main .show-morebtn a {
  padding: 14px 20px 12px 24px;
  border-radius: 8px;
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  min-width: 149px;
  display: block;
  margin: 0px auto;
}
.blog-main .show-morebtn a img {
  margin-left: 8px;
}

footer {
  border-top: 1px solid #d9d9dd;
  padding: 60px 100px 40px 100px;
  position: relative;
  z-index: 9;
}
footer .footer-logo {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
footer .footer-logo img {
  max-width: 145px;
}
footer .footerdescription {
  position: relative;
}
footer .footerdescription p {
  color: #000;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 16px;
}
footer .footerdescription p strong {
  font-weight: 700;
  font-style: normal;
}
footer .lian-associate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
footer .lian-associate p {
  margin: 0;
  margin-right: 17px;
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
footer .lian-associate img {
  max-width: 81px;
}
footer .privecy-center {
  text-align: center;
}
footer .privecy-box {
  display: inline-block;
  margin: 0px auto;
  text-align: left;
  position: relative;
}
footer .privecy-box p {
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
footer .privecy-box ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .privecy-box ul li {
  margin-right: 10px;
  position: relative;
  line-height: normal;
}
footer .privecy-box ul li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #121212;
  font-family: "Nunito", sans-serif;
  text-decoration: underline;
}
footer .privecy-box ul li:not(:last-child)::after {
  position: absolute;
  right: -5px;
  top: 52%;
  width: 1px;
  height: 10px;
  background-color: #121212;
  content: "";
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
footer .contact-information {
  position: relative;
}
footer .contact-information ul li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #121212;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
footer .contact-information ul li a span {
  text-decoration: underline;
}
footer .contact-information ul li a img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
footer .footer-social-link ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 12px;
}
footer .footer-social-link ul li a img {
  max-width: 27px;
  max-height: 27px;
}

.bottom-three-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  position: relative;
}
.bottom-three-section::before {
  position: absolute;
  left: 0;
  top: 160px;
  content: "";
  background-color: green;
  width: 100%;
  height: 92%;
  background: url(/assets/images/btlarge.png);
  background-size: cover;
}
.bottom-three-section::after {
  position: absolute;
  left: 0;
  top: 270px;
  content: "";
  width: 100%;
  height: 78%;
  background: url(/assets/images/last222.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1440px;
}

.blog-separator {
  border: 1px solid #d9d9dd;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */